In [1]:
import time
time.ctime()

'Sat Apr 17 09:31:41 2021'

### data structures
* strings -->" " or ' '
* lists -->[]
* tuples -->()
* dictionaries -->{key:value}
* sets -->{}

In [6]:
n=' '
print(type(n))

<class 'str'>

In [3]:
n=[]
print(type(n))

<class 'list'>

In [4]:
n={}
print(type(n))

<class 'dict'>

In [5]:
n=()
print(type(n))

<class 'tuple'>

### string
* collection of data/information with " " or' '
* **Accessing Indexing Values**
  * Forward index(left to right(starts from 0 to n-1))
  * Backward index(right to left(starts from -1))
* **Delete a string**
  * using **del** keyword
  *slicing:
    *single slicing --->[:]
    *double slicing --->[: :]

In [7]:
s="srinivas"
print(s)
print(type(s))

srinivas
<class 'str'>

In [10]:
## forward index
print(s[0],end=' ')
print(s[1],end=' ')
print(s[2],end=' ')
print(s[3],end=' ')
print(s[4],end=' ')
print(s[5],end=' ')
print(s[6],end=' ')
print(s[7],end=' ')

s r i n i v a s

In [11]:
##backward index
print(s[-1],end=' ')
print(s[-2],end=' ')
print(s[-3],end=' ')
print(s[-4],end=' ')
print(s[-5],end=' ')
print(s[-6],end=' ')
print(s[-7],end=' ')
print(s[-8],end=' ')

s a v i n i r s

In [12]:
s="welcome to vignan's lara"
print(s[12])

i

In [13]:
s="welcome to vignan's lara"
print(s[1:10])

elcome to

In [18]:
s="welcome to vignan's lara"
print(s[0:7:2])

wloe

In [19]:
s[::-1]

"aral s'nangiv ot emoclew"

In [24]:
s=input()
if(s[::-1]==s):
    print("palindorme")
else:
    print("not a  palindorme")

non
palindorme

In [25]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [28]:
#capitalize
s="srinivas"
s.capitalize()

'Srinivas'

In [29]:
s="good afternoon"
s.title()

'Good Afternoon'

In [30]:
s="cupuu mukyam bigiluu"
s.title()

'Cupuu Mukyam Bigiluu'

In [31]:
s="e sala cup namde"
s.upper()

'E SALA CUP NAMDE'

In [34]:
s="load lift jcb cup lift rcb"
s.lower()

'load lift jcb cup lift rcb'

In [42]:
s="tagedey lee"
s.center(125)

'                                                         tagedey lee                                                         '

In [43]:
s="VaDu cHeYtAnIkEy vAcHaDu"
s.swapcase()

'vAdU ChEyTaNiKeY VaChAdU'

In [44]:
s="tagedey lee"
s.isupper()

False

In [45]:
s="tagedey lee"
s.islower()

True

In [52]:
s="cupuu mukyam bigiluu"
s.startswith('c')

True

In [50]:
s="cupuu mukyam bigiluu"
s.endswith('u')

True

In [53]:
s="cupuu mukyam bigiluu"
s.isspace()

False

In [55]:
s="hello"
print(type(s))
s1=s.encode()
print(type(s1))

<class 'str'>
<class 'bytes'>

In [1]:
s="srinivas 123"
s.isalnum()

False

In [11]:
s="srinivas 123 anil 456 hemchand 789"
for i in s:
    if i.isalpha():
        print(i,end='')
print("\t")
for i in s:
    if i.isdigit():
        print(i,end='')

srinivasanilhemchand
123456789

In [18]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
for i in s:
    if i.isalpha():
        print(i,end='')
print('\t')
for i in s:
    if i.isupper():
        print(i,end='')        
print('\t')
for i in s:
    if i.islower():
        print(i,end='')
print('\n')

VaDucHeYtAnIkEyvAcHaDu
VDHYAIEAHD
aucetnkyvcau

In [20]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
a=" "
b=" "
c=" "
d=" "
e=" "
a1=0
a2=0
a3=0
a4=0
a5=0
for i in s:
    if i.isalpha():
        a+=i
        a1+=1
        if i.isupper():
            b+=i
            a2+=1
        if i.islower():
            c+=i
            a3+=1
    elif i.isdigit():
        d+=i
        a4+=1
    elif i.isspace():
        e+=i
        a5+=1
print(a,a1)
print(b,a2)
print(c,a3)
print(d,a4)
print(e,a5)

 VaDucHeYtAnIkEyvAcHaDu 22
 VDHYAIEAHD 10
 aucetnkyvcau 12
 123456789 9
       5

In [23]:
x="python\tprogramming"
x.expandtabs(20)

'python              programming'

In [38]:
n=int(input())
for i in range(1,21):
    print("{} {} {} {} {}".format(n,"x",i, "=" , n*i))

1234567
1234567 x 1 = 1234567
1234567 x 2 = 2469134
1234567 x 3 = 3703701
1234567 x 4 = 4938268
1234567 x 5 = 6172835
1234567 x 6 = 7407402
1234567 x 7 = 8641969
1234567 x 8 = 9876536
1234567 x 9 = 11111103
1234567 x 10 = 12345670
1234567 x 11 = 13580237
1234567 x 12 = 14814804
1234567 x 13 = 16049371
1234567 x 14 = 17283938
1234567 x 15 = 18518505
1234567 x 16 = 19753072
1234567 x 17 = 20987639
1234567 x 18 = 22222206
1234567 x 19 = 23456773
1234567 x 20 = 24691340

In [42]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
s.index('a')

1

In [43]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
'@'.join(s)

'V@a@D@u@ @1@2@3@ @c@H@e@Y@t@A@n@I@k@E@y@ @4@5@6@ @v@A@c@H@a@D@u@ @7@8@9'

In [44]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
s.split()

['VaDu', '123', 'cHeYtAnIkEy', '456', 'vAcHaDu', '789']

In [48]:
s="VaDu 123 cHeYtAnIkEy 456 vAcHaDu 789"
s.split('c')

['VaDu 123 ', 'HeYtAnIkEy 456 vA', 'HaDu 789']

In [53]:
s="srinivas  "
s.replace(' ',"vignan")

'srinivasvignanvignan'

In [71]:
s="apssdc PYTHON PrOgRaMmInG vignans lara"
s1=s.split()
print(s1[0].capitalize(),s1[1].lower(),s1[2].swapcase(),s1[3],s1[4].upper())

Apssdc python pRoGrAmMiNg vignans LARA

In [81]:
s="vakkapatla srinivas"
s.replace('vakkapatla',"V.")

'V. srinivas'

In [84]:
s="vakkapatla srinivas"
s1=s.split()
print(s1[0][0],".",s1[1],sep="")

v.srinivas

In [85]:
s=input()
s1=s.split()
print(s1[0][0],".",s1[1],sep="")

vakkapatla srinivas
v.srinivas

### Lists
* collection of elements within [] separated by ,
* lists having indexing and slicing
* lists is mutable

In [86]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [98]:
l=[1,3,4,5]
l.append([2,8,9])
print(l)

[1, 3, 4, 5, [2, 8, 9]]

In [104]:
l=["apple","banana","orange"]
l.append(["grapes","mango"])
print(l)

['apple', 'banana', 'orange', ['grapes', 'mango']]

In [107]:
l=["apple","banana","orange"]
l.append(["grapes","mango"])
print(l,"\t")

['apple', 'banana', 'orange', ['grapes', 'mango']]

In [112]:
l=[1,8,9,10]
l.pop(8)
print(l)

IndexError: pop index out of range

In [116]:
l=[]
l.insert(0,1)
l.insert(1,2)
l.insert(2,3)
l.insert(3,4)
l.insert(4,5)
l.insert(5,6)
l.insert(6,7)
l.insert(7,8)
l.insert(8,9)
l.insert(9,10)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
l=[]
for i in range(1,11):
    if i%2==0:
          l.append(i)
print(l)

[2, 4, 6, 8, 10]

In [125]:
l=[]
for i in range(1,2021):
    if (i%4==0 and i%100!=0 or i%200==0):
          l.append(i)
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 600, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1000, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1400, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1800, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [126]:
l=[]
for i in range(65,91):
    l.append(chr(i))
print(l)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [133]:
t=(1,2,3)
s=[t]
print(max(t))
print(min(t))
print(t.count(3))

3
1
1

In [130]:
l=[1,2,3,4,5,6,7,8]
l1=list(map(str,l))
print(l1)

['1', '2', '3', '4', '5', '6', '7', '8']

In [131]:
l=['1', '2', '3', '4', '5', '6', '7', '8']
l1=list(map(float,l))
print(l1)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

In [134]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [136]:
l=['1', '2', '3', '4', '5', '6', '7', '8']
l1=list(map(,l))
print(l1)

NameError: name 'squr' is not defined

In [137]:
t=(2,2,4,3,5,8,6,4,9,1)
l1=list(map(str,t))
print(l1)

['2', '2', '4', '3', '5', '8', '6', '4', '9', '1']

In [138]:
l=['2', '2', '4', '3', '5', '8', '6', '4', '9', '1']
t=tuple(map(str,l))
print(t)

('2', '2', '4', '3', '5', '8', '6', '4', '9', '1')

In [24]:
l1=['a','b','c']
l2=[1,2,3]
d1=dict(zip(l2,l1))
print(d1)

{1: 'a', 2: 'b', 3: 'c'}

In [25]:
l1=['abc','bac','cad']
l2=[1,2,3]
d1=dict(zip(l2,l1))
print(d1)

{1: 'abc', 2: 'bac', 3: 'cad'}

In [28]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [1]:
d={"name":"nani","karvu":"anil"}
d.keys()
d.values()

dict_values(['nani', 'anil'])

In [32]:
d.items()

dict_items([('name', 'nani'), ('srinivas', 'anil')])

In [34]:
d.get("name")

'nani'

In [35]:
d['b']=420

In [11]:
d={"name":"nani","karvu":"anil"}
print(d.pop("name"))

nani

In [10]:
d={"name":"anil","karvu":"infinty","age":"100"}
print(d.popitem())

('age', '100')

In [13]:
d

{'karvu': 'anil'}

In [18]:
d

{'karvu': 'anil'}

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
l={1,2,3,1,2,4,5,6}
set(l)

{1, 2, 3, 4, 5, 6}